body {
    background-color: #DDE6ED;
    margin: 0;
}

.complete-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    gap: 120px;
}

/* Container */
.full-body-container {
    position: absolute;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.vertical-bar {
    flex: 0 0 180px;
    /* Flexbox settings: don't grow, don't shrink, initial width is 200px */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Allows scrolling within the vertical bar if content exceeds the height */
    background-color: #526D82;
    align-items: center;
}

/* Div for Title, Search Box, and Answer Box */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Exercise Engine text */
.name {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'trebuchet ms', sans-serif;
}

.name h1 {
    color: #27374D;
    margin-bottom: 0;
    margin-right: 3px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-line {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

#ad-hoc::placeholder {
    color: #526D82 !important;
}

#ad-hoc {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 44px;
    width: 589px !important;
    border-radius: 4px;
}

input[type=text] {
    color: #27374D !important;
}

/* Search bar 8, 20*/
.dropdown,
.dropdown+.select2-container--default .select2-selection--single {
    border: 3px solid #526D82;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 610px;
    height: 50px;
    background-color: inherit;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #27374D !important;
}

.select2-selection__placeholder {
    color: #526D82 !important;
}

/* Select2 dropdown*/
.select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
    min-height: 200px;
    overflow-y: auto;
    border: 2px solid #526D82;
    border-top: none;
}

/* Each result */
#select2-filter-text-val-results {
    font-family: 'trebuchet ms', sans-serif;
    background-color: #DDE6ED;
    border: 1px solid #526D82;
    height: 40px;
    font-size: 18px;
    color: #27374D;
    border: 2px solid #526D82;
}

/* Higlighted (hover) result */
#select2-filter-text-val-results .select2-results__option--highlighted {
    font-family: 'trebuchet ms', sans-serif;
    background-color: #526D82 !important;
    color: #DDE6ED !important;
}

/* Selected option */
#select2-filter-text-val-results .select2-results__option[aria-selected=true] {
    font-family: 'trebuchet ms', sans-serif;
    background-color: #27374D !important;
    color: #DDE6ED !important;
}

/* Around the search field */
.select2-search {
    font-family: 'trebuchet ms', sans-serif;
    height: 40px;
    font-size: 18px;
    border: 2px solid #526D82;
    border-top: none;
    background-color: #DDE6ED;
    color: #27374D !important;
}

/* Search field */
.select2-search input {
    font-family: 'trebuchet ms', sans-serif;
    height: 40px;
    font-size: 18px;
    background-color: #DDE6ED;
    color: #27374D !important;
}

#filter-text-val {
    width: 610px !important;
}

/* Box around dropdown arrow*/
.select2.select2-container .select2-selection .select2-selection__arrow {
    background: #526D82;
    height: 48px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown arrow*/
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url(./images/arrow.webp);
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 30px !important;
    width: 30px !important;
    margin: auto !important;
    top: auto !important;
    left: auto !important;
    transition: transform 0.3s ease-in-out;
}

.select2-container--open .select2-selection__arrow b {
    transform: rotate(180deg) !important;
}

/* Scrollbar */
.select2-results__options::-webkit-scrollbar {
    width: 20px;
    background-clip: padding-box;
}

.select2-results__options::-webkit-scrollbar-track {
    background-color: #DDE6ED;
    height: 15px;
    background-clip: padding-box;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #526D82;
    border: 5px solid #DDE6ED;
    border-radius: 10px;
    height: 80px;
}

.select2-results__options::-webkit-scrollbar-button {
    display: none;
}

/* Dumbbell search icon*/
.search-line img {
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding-left: 40px;
    transition: all 0.3s ease-in-out;
}

.search-line img:hover {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-2deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(3deg);
    }

    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-2deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(4deg);
    }

    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}


#answer-box {
    margin-top: 20px;
    width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.answer-box {
    flex-grow: 1;
    /* Allows the answer box to take up the remaining space */
}

.answer-container {
    display: flex;
    align-items: center;
    /* Align items at the start to ensure they align at the top */
    justify-content: space-between;
    /* This ensures the elements are spaced out properly */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    border: 3px solid #526D82;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(39, 55, 77, 0.12), 0 1px 2px rgba(39, 55, 77, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.answer-container:hover {
    box-shadow: 0 14px 28px rgba(39, 55, 77, 0.25), 0 4px 4px rgba(39, 55, 77, 0.22);
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px;
}

.episode-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 80px;
}

.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 210px;
    border: 4px solid #526D82;
    border-radius: 10px;
}

.yt-button {
    display: inline-block;
    text-decoration: none;
}

.yt-button img {
    width: 40px;
    height: auto;
}

.episode-desc {
    color: #526D82;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

#more-button {
    color: #526D82;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    padding: 0;
}

.episode-sim {
    color: #27374D;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 18px;
    margin-bottom: 22px;
}

.episode-title {
    color: #27374D;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.episode-rating {
    color: #DDE6ED;
    font-size: 25px;
    margin-left: 50px;
    font-family: 'trebuchet ms', sans-serif;
}

.circle-rating {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #526D82;
    text-align: center;
}

.exercise-info {
    display: flex;
    justify-content: space-between;
}

.similarity-info {
    text-align: center;
}

.muscle-info,
.equipment-info {
    background-color: #526D82;
    color: #DDE6ED;
    border-radius: 5px;
    padding: 7px;
}

.difficulty-info {
    margin-top: 25px;
    color: #526D82;
    font-style: italic;
    font-size: 18px;
}


#search-icon {
    cursor: pointer;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: #27374D;
    color: #DDE6ED;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    font-family: 'trebuchet ms', sans-serif;
}

.top-buffer {
    width: 180px;
    height: 300px;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 35px;
    text-align: center;
}

.bottom-buffer {
    width: 100%;
    height: 280px;
    margin-top: auto;
    background: linear-gradient(to bottom, #526D82, #27374D);
}

#bar_2 {
    background: inherit;
}

.filter-button {
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'trebuchet ms', sans-serif;
    color: #DDE6ED;
    align-items: center;
    margin-bottom: 30px;
}

#filter-title {
    font-family: 'trebuchet ms', sans-serif;
    color: #DDE6ED;
    font-size: 36px;
}

.filter-header {
    font-size: 20px;
    margin-bottom: 20px;
}

.filter-header button {
    background-image: url(./images/arrow.webp);
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
    transition: transform 0.3s ease-in-out;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
}

.filter-checkbox {
    width: 100px;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #DDE6ED;
}

/* On mouse-over, add a grey background color */
.filter-checkbox:hover input~.checkmark {
    background-color: #9DB2BF;
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked~.checkmark {
    background-color: #DDE6ED;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #526D82;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-container {
    width: 180px !important;
    text-align: center;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
}

.toggle-container,
.toggle-switch {
    cursor: pointer;
    /*change the width and height here, the rest will follow! */
    width: 160px;
    height: 45px;
    font-size: 14px;
}

.toggle-container input[type="checkbox"] {
    display: none;
}

.toggle-container input[type="checkbox"]:checked~label .toggle-switch:before {
    content: attr(data-unchecked);
    left: 0;
}

.toggle-container input[type="checkbox"]:checked~label .toggle-switch:after {
    content: attr(data-checked);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.toggle-switch {
    position: relative;
    background: #DDE6ED;
    border-radius: 5px;
    box-shadow: 0 0 0px #DDE6ED;
    transition: all 1s ease-in-out;
}

.toggle-switch:before,
.toggle-switch:after {
    position: absolute;
    height: calc(100% - 4px);
    width: calc(50% - 2px);
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toggle-switch:before {
    content: attr(data-checked);
    color: #526D82;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
}

.toggle-switch:after {
    content: attr(data-unchecked);
    left: 2px;
    border-radius: 5px;
    z-index: 1;
    background: #27374D;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #DDE6ED;
    font-family: 'Montserrat', sans-serif;
}

.toggle-switch:hover:after {
    box-shadow: 0 0 7.5px #DDE6ED;
}

.meter {
    background: #DDE6ED;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    display: block;
    height: 5px;
    width: 200px;
    margin-bottom: 10px;
    padding: 8px;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #27374D;

    >span {
        display: block;
        height: 240%;
        margin-bottom: 3px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgb(43, 194, 83);
        background-image: linear-gradient(to top, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
        box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
        transition: width 2s ease-out;
    }
}

.cadetblue {
    >span {
        background-color: #DDE6ED;
        background-image: linear-gradient(to bottom, #526D82, #9DB2BF);
    }
}