body {
    background-color: #DDE6ED;

}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

#title {
    color: #526D82;
    opacity: 1;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 2px solid #526D82;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    width: 550px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
    color: #526D82;
    border: none;
    outline: 0;
    background-color: inherit;
}

::placeholder {
    color: #526D82;
    opacity: 0.6
}

.search-line {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 700px;
}

.search-line img {
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding-left: 30px;
    transition: all 0.3s ease-in-out;
}

.search-line img:hover {
    transform: scale(1.1);
    animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

#search-icon {
    cursor: pointer;
}