<!doctype html>

<head>
    <title>Exercise Engine</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/dumbbell.png">
    <!-- Dumbbell icon taken from https://www.flaticon.com/free-icon/dumbbell_38464 -->
</head>

<body>
    <img class="background" src="../static/images/gym.jpg" alt="Gym Picture" />
    <div class="full-body-container">
        <div class="complete-container">
            <div class="vertical-bar" style="display:none">
                <div class="top-buffer">
                    <div id="filter-title">Filters</div>

                </div>
                <div class="bottom-buffer"></div>
            </div>

            <div class="content">
                <div class="top-text">
                    <div class="name">
                        <h1 id="title">Exercise Engine</h1>
                    </div>
                    <div class="search-line">
                        <div class="toggle-container">
                            <input id="search-method" class="skills-toggle" type="checkbox">
                            <label for="search-method">
                                <div class="toggle-switch" data-checked="Freeform" data-unchecked="Exercises"></div>
                            </label>
                        </div>
                        <select id="filter-text-val" class="dropdown" onchange="dropdownChange()"></select>
                        <input id="ad-hoc" class="dropdown" type="text" placeholder="Enter some exercise features" />
                        <img id="search-icon" src="../static/images/dumbbell.png" onclick="redirect()" />
                        <div class="toggle-container" style="padding-left: 0;"></div>
                    </div>
                </div>
                <div id="answer-box">
                </div>
                <div class="filter-container">
                    <div class="filter-button" id="muscle-filter">
                        <div class="filter-header">Muscle groups
                            <button id="toggle-muscle-groups" onclick="toggleFilter(this)"></button>
                        </div>
                        <div class="muscle-groups" style="display: none">
                            <div class="first-muscle">
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="abdominals" />Abdominals
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="abductors" />Abductors
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="adductors" />Adductors
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="biceps" />Biceps
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="calves" />Calves
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="chest" />Chest
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="forearms" />Forearms
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="glutes" />Glutes
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="second-muscle">
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="hamstrings" />Hamstrings
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="lats" />Lats
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="lower back" />Lower Back
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="middle back" />Middle Back
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="shoulders" />Shoulders
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="traps" />Traps
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="triceps" />Triceps
                                    <span class="checkmark"></span>
                                </label>
                                <label class="filter-checkbox">
                                    <input type="checkbox" id="quadriceps" />Quadriceps
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-button" id="equipment-filter">
                        <div class="filter-header">Equipment
                            <button id="toggle-equipment" onclick="toggleFilter(this)"></button>
                        </div>
                        <div class="equipment" style="display: none;">
                            <label class="filter-checkbox">
                                <input type="checkbox" id="bands" />Bands
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="barbell" />Barbell
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="bodyweight" />Bodyweight
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="cable" />Cable
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="dumbbell" />Dumbbell
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="e-z curl bar" />E-Z Curl Bar
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="exercise ball" />Exercise Ball
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="foam roll" />Foam Roll
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="kettlebells" />Kettlebell
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="machine" />Machine
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="medicine ball" />Medicine Ball
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="none" />None
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="other" class="equipment-checkbox" />Other
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-button" id="difficulty-filter">
                        <div class="filter-header">Difficulty
                            <button id="toggle-difficulty" onclick="toggleFilter(this)"></button>
                        </div>
                        <div class="difficulty" style="display: none;">
                            <label class="filter-checkbox">
                                <input type="checkbox" id="beginner" class="difficulty-checkbox" />Beginner
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="intermediate" class="difficulty-checkbox" />Intermediate
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-checkbox">
                                <input type="checkbox" id="expert" class="difficulty-checkbox" />Expert
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-buffer" style="width:90px;"></div>
                </div>
            </div>
            <!-- Invisible div for balancing -->
            <div class="vertical-bar" id="bar_2" style="display:none;">
            </div>
        </div>
        <div class="footer">
            Sharanya Dabas | Matthew McAuley | RJ Powers | Alex Kushnirsky | Eman Abdu
        </div>

    </div>


    <script>
        let is_ad_hoc = false;

        function redirect() {
            document.getElementById("answer-box").innerHTML = "";
            console.log(document.getElementById("filter-text-val").value);
            const selectedMuscleGroups = [];
            const muscleGroupCheckboxes = document.querySelectorAll('.muscle-groups input[type="checkbox"]');
            muscleGroupCheckboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedMuscleGroups.push(checkbox.id);
                }
            });

            const selectedEquipments = [];
            const equipmentCheckboxes = document.querySelectorAll('.equipment input[type="checkbox"]');
            equipmentCheckboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedEquipments.push(checkbox.id);
                }
            });

            const levels = [];
            const levelCheckboxes = document.querySelectorAll('.difficulty input[type="checkbox"]');
            levelCheckboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    levels.push(checkbox.id);
                }
            });
            const title = (is_ad_hoc)
                ? document.getElementById("ad-hoc").value
                : document.getElementById("filter-text-val").value

            const route = is_ad_hoc ? "/create-recent-AH?" : '/create-recent-normal?';
            fetch(route + new URLSearchParams({
                title: title,
                muscleFilter: selectedMuscleGroups,
                equipmentFilter: selectedEquipments,
                difficultyFilter: levels,
            }).toString())
                .then(response => response.json())
                .then(data => {
                    window.location.href = '/results/';
                });
        }

        // Initialize Select2 on the filter-text-val element
        $('#filter-text-val').select2({
            placeholder: "Select an Exercise",
        });

        $(document).ready(function () {
            $("#filter-text-val").select2({
                placeholder: "Select an Exercise",
            });

            $('#ad-hoc').hide();

            $("#search-method").change(function () {
                var $select2Container = $("#filter-text-val").next(".select2-container");
                var $adhocInput = $('#ad-hoc')
                if (this.checked) {
                    $select2Container.hide();
                    $adhocInput.show();
                    is_ad_hoc = true;
                } else {
                    $select2Container.show();
                    $adhocInput.hide();
                    is_ad_hoc = false;
                }
            });
        });

        function toggleFilter(button) {
            const filterDiv = button.parentElement.nextElementSibling;
            if (filterDiv.style.display === "none") {
                filterDiv.style.display = "flex";
            } else {
                filterDiv.style.display = "none";
            }
        }

        document.getElementById('toggle-muscle-groups').addEventListener('click', function () {
            this.classList.toggle('rotated');
        });

        document.getElementById('toggle-equipment').addEventListener('click', function () {
            this.classList.toggle('rotated');
        });

        document.getElementById('toggle-difficulty').addEventListener('click', function () {
            this.classList.toggle('rotated');
        });

        function switchSearch() {
            const search_method = document.getElementById("search-method");
            const is_checked = search_method.getAttribute("checked");
        }

        // This function fetches the exercise titles and populates the dropdown
        function fetchTitlesAndPopulateDropdown() {
            fetch("/get-titles")
                .then(response => response.json())
                .then(data => {
                    const select = $('#filter-text-val');
                    select.empty().append(new Option("", "", true, true)); // Empty option for placeholder
                    data.titles.forEach(title => {
                        select.append(new Option(title, title));
                    });
                });
        }

        // This function is called when the dropdown selection changes
        function dropdownChange() {
            const selectedTitle = document.getElementById("filter-text-val").value;
            console.log(selectedTitle);
            if (selectedTitle) {
                // Here you can call the same function you use to fetch and display the exercise info
                // For example, if you're using the text input's filter function:
                document.getElementById("filter-text-val").value = selectedTitle; // Update the text input to reflect the dropdown selection
            }
        }

        document.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                redirect()
            }
        });

        // Call the function to populate the dropdown when the page is loaded
        document.addEventListener("DOMContentLoaded", fetchTitlesAndPopulateDropdown);

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        document.addEventListener('DOMContentLoaded', function () {
            const allCheckboxes = document.querySelectorAll('.filter-checkbox input[type="checkbox"]');
            allCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    filterText();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            function setupCheckboxGroup(checkboxesSelector, headerSelector) {
                var checkboxes = document.querySelectorAll(checkboxesSelector);
                var filterHeader = document.querySelector(headerSelector);

                function updateHeaderStyle() {
                    var anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                    filterHeader.style.textDecoration = anyChecked ? 'underline' : 'none';
                }

                checkboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updateHeaderStyle);
                });

                updateHeaderStyle();
            }

            setupCheckboxGroup('.muscle-groups .filter-checkbox input[type="checkbox"]', '.filter-header:has(#toggle-muscle-groups)');
            setupCheckboxGroup('.equipment .filter-checkbox input[type="checkbox"]', '.filter-header:has(#toggle-equipment)');
            setupCheckboxGroup('.difficulty .filter-checkbox input[type="checkbox"]', '.filter-header:has(#toggle-difficulty)');
        });
    </script>
</body>